#how_it_works_video::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.528470763305322) 51%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 20%;
    z-index: 40;
}

#how_it_works_video::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.528470763305322) 51%, rgba(255,255,255,0) 100%);
    width: 100%;
    height: 20%;
    z-index: 40;
}
/*
'w-full h-[150px] flex justify-center relative'
*/
#advantages {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}


#content-slider {
    background: linear-gradient(211deg, rgba(255, 255, 255, -1) 5%, rgba(0, 0, 0, 1) 100%)
}

@media (max-width: 1000px) {
    #advantages {
        width: 100%;
        display: flex;
        height: fit-content;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }    
    #advantages p {
        width: 90%;
        text-align: start;
    }
    #advantages div {
        width: 90%;
    }
    #advantages_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 90%;
    }
    #advantages_list div:nth-child(2) {
        width: 90%;
    }
   
}

